<div id="waline"></div>

<script type="module">
  import { init } from 'https://cdnjs.cloudflare.com/ajax/libs/waline/3.4.1/waline.js';
  init({
    el: '#waline',
    serverURL: 'https://comment.akurai.to',
    login: 'force',
    dark: 'body[class="dark"]',
    locale: {
      placeholder: '据信息服务管理规定，请登录后进行评论，评论内容将在审核后展示。',
    },
  });
</script>

<style>
  :root {
    --waline-theme-color: #FF4C00;
    --waline-active-color: #ff2121;
  }
  .wl-actions,.wl-badge,.wl-edit,.verified-icon,.wl-power{
    display: none!important;
  }

</style>