<script src="https://npm.elemecdn.com/@waline/client@v2/dist/waline.js"></script>
<div id="waline"></div>
<script>
  Waline.init({
    el: '#waline',
    serverURL: 'https://comment.404gle.cn',
    copyright: false,
    login: 'force',
    dark: '.dark',
    imageUploader: false,
    emoji: [],
    locale: {
      admin: '🎉',
    },
  });
</script>
<style>
  :root {
    --waline-theme-color: #FF4C00;
    --waline-active-color: #ff2121;
    --waline-badge-color: #00000000;
  }
  .verified-icon,.wl-actions,.wl-power{
    display: none!important;
  }
</style>